xml-resources/web-service-references/CovidWeekSoapService/wsdl/localhost_8080/CovidWeekSoap/CovidWeekSoapService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="covidweek" type="tns:covidweek"/>

<xs:element name="findAllCovidWeek" type="tns:findAllCovidWeek"/>

<xs:element name="findAllCovidWeekResponse" type="tns:findAllCovidWeekResponse"/>

<xs:element name="findBySeq" type="tns:findBySeq"/>

<xs:element name="findBySeqResponse" type="tns:findBySeqResponse"/>

<xs:element name="findByYear" type="tns:findByYear"/>

<xs:element name="findByYearResponse" type="tns:findByYearResponse"/>

<xs:complexType name="findByYear">
<xs:sequence>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByYearResponse">
<xs:sequence>
<xs:element name="return" type="tns:covidweek" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="covidweek">
<xs:sequence>
<xs:element name="caseForeign" type="xs:int" minOccurs="0"/>
<xs:element name="caseNewDiff" type="xs:int" minOccurs="0"/>
<xs:element name="caseNewPrev" type="xs:int" minOccurs="0"/>
<xs:element name="casePrison" type="xs:int" minOccurs="0"/>
<xs:element name="caseWalkin" type="xs:int" minOccurs="0"/>
<xs:element name="covidyear" type="xs:int" minOccurs="0"/>
<xs:element name="deathNewDiff" type="xs:int" minOccurs="0"/>
<xs:element name="deathNewPrev" type="xs:int" minOccurs="0"/>
<xs:element name="newCase" type="xs:int" minOccurs="0"/>
<xs:element name="newCaseExcludeabroad" type="xs:int" minOccurs="0"/>
<xs:element name="newDeath" type="xs:int" minOccurs="0"/>
<xs:element name="newRecovered" type="xs:int" minOccurs="0"/>
<xs:element name="seq" type="xs:int" minOccurs="0"/>
<xs:element name="totalCase" type="xs:int" minOccurs="0"/>
<xs:element name="totalCaseExcludeabroad" type="xs:int" minOccurs="0"/>
<xs:element name="totalDeath" type="xs:int" minOccurs="0"/>
<xs:element name="totalRecovered" type="xs:int" minOccurs="0"/>
<xs:element name="updateDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="weeknum" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllCovidWeek">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllCovidWeekResponse">
<xs:sequence>
<xs:element name="return" type="tns:covidweek" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findBySeq">
<xs:sequence>
<xs:element name="seq" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findBySeqResponse">
<xs:sequence>
<xs:element name="return" type="tns:covidweek" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>