src/META-INF/wsdl/localhost_8080/CovidWeekSoap/CovidWeekSoapService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="CovidWeekSoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/CovidWeekSoap/CovidWeekSoapService?xsd=1"/>
</xsd:schema>
</types>
<message name="findByYear">
<part name="parameters" element="tns:findByYear"/>
</message>
<message name="findByYearResponse">
<part name="parameters" element="tns:findByYearResponse"/>
</message>
<message name="findBySeq">
<part name="parameters" element="tns:findBySeq"/>
</message>
<message name="findBySeqResponse">
<part name="parameters" element="tns:findBySeqResponse"/>
</message>
<message name="findAllCovidWeek">
<part name="parameters" element="tns:findAllCovidWeek"/>
</message>
<message name="findAllCovidWeekResponse">
<part name="parameters" element="tns:findAllCovidWeekResponse"/>
</message>
<portType name="CovidWeekSoapService">
<operation name="findByYear">
<input wsam:Action="http://services/CovidWeekSoapService/findByYearRequest" message="tns:findByYear"/>
<output wsam:Action="http://services/CovidWeekSoapService/findByYearResponse" message="tns:findByYearResponse"/>
</operation>
<operation name="findBySeq">
<input wsam:Action="http://services/CovidWeekSoapService/findBySeqRequest" message="tns:findBySeq"/>
<output wsam:Action="http://services/CovidWeekSoapService/findBySeqResponse" message="tns:findBySeqResponse"/>
</operation>
<operation name="findAllCovidWeek">
<input wsam:Action="http://services/CovidWeekSoapService/findAllCovidWeekRequest" message="tns:findAllCovidWeek"/>
<output wsam:Action="http://services/CovidWeekSoapService/findAllCovidWeekResponse" message="tns:findAllCovidWeekResponse"/>
</operation>
</portType>
<binding name="CovidWeekSoapServicePortBinding" type="tns:CovidWeekSoapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findByYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findBySeq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCovidWeek">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CovidWeekSoapService">
<port name="CovidWeekSoapServicePort" binding="tns:CovidWeekSoapServicePortBinding">
<soap:address location="http://localhost:8080/CovidWeekSoap/CovidWeekSoapService"/>
</port>
</service>
</definitions>